<div class="container">

<div class="all-container">
<div class="img-container">
<img src="<%= @user.photo %>" alt="img" />
</div>
<div class="user-container">
<h4 class="name"><%= @user.name %></h4>
<div class="posts">
<p>Number of posts: <%= @user.posts_count %></p>
</div>
</div>
</div>

<div class="main-container">
<% @posts.each do |post| %>
<a href = "<%= user_post_path(@user, post) %>" class="bio p">
<h3> <%= post.title %></h3>
<p> <%= post.text %></p>
<div class="posts">
<p>comments: <%= post.comments_count %> likes: <%= post.likes_count %></p>
</div>
</a>

<ul class="comments">
<li class="comment-title"><strong>Comments: <%= post.comments_count %> </strong></li>
<% post.recent_comments.each do |comment, index| %>
<li><strong><%= comment.author.name %> </strong> <%= comment.text %> </li>
<% end %>

</ul>

<% end %>

<div class="button-container">
<a href= "<%= users_path() %>" class="btn">pagination</a>
</div>

</div>


<div>