
<div class="container">
<div class="main-container">
 
<div class="bio p">
<div class="post-detail">
<h3> <%= @post.title %> by <%= @post.author.name %> </h3>
<p>comments: <%= @post.comments_count %> likes: <%= @post.likes_count %></p>
</div>
<p> <%= @post.text %></p>
</div>

<ul class="comments">
<li class="comment-title"><strong>Comments: <%= @post.comments_count %> </strong></li>
<% @post.recent_comments.each do |comment, index| %>
<li><strong><%= comment.author.name %> </strong> <%= comment.text %> </li>
<% end %>

</ul>

<div class="button-container">
<div class="like">
<%= form_with(model: Like.new, url: user_post_likes_path(@user_id, @post)) do |form| %>
    <%= form.submit "Like" %>
  <% end %>
</div>
<a href= "<%= new_user_post_comment_path(@user_id, @post) %>" class="btn"> Add Comment</a>
</div>

 </div>
 </div>
